body {
    padding: 20px;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    border: solid;
}

h1, .logo {
	display: block;
	margin-left: 20px;
	box-shadow: 5px;
}

h1 {
	text-shadow: 5px;

}

.musicInfo {
	list-style-type: decimal;
}

.musicInfo li {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
